<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="card">
    <div class="card-body">
      <h1><strong>Guia Para Instalar Angular</strong></h1>
      <p></p>
      <strong>1. Node.js:</strong> Asegúrate de que Node.js esté instalado en tu sistema. Puedes descargarlo desde<br>
      <p>el <a href="https://nodejs.org/en/download/current">enlace del sitio web oficial de Node.js.</a></p>
      <p></p>
      <strong>2. NPM (Node Package Manager):</strong> NPM generalmente se instala junto con Node.js. Verifica si NPM
      está instalado ejecutando el siguiente comando en tu terminal: <br>
      "npm -v"<br> Debería mostrarte la versión de NPM instalada.
      <p></p>
      <h2><strong>Pasos para instalar Angular:</strong></h2> <strong>1.</strong> Abre tu terminal o línea de comandos.
      Asegúrate de tener acceso a una conexión a Internet<br>
      ya que Angular se instala a través de NPM.<br>
      <strong>2.</strong> El siguiente comando para instalar Angular CLI (Command Line Interface):
      <br> <strong>npm install -g @angular/cli</strong><br>
      Este comando instalará Angular CLI globalmente en tu sistema, lo que te permitirá crear y administrar proyectos de
      Angular.
      <br> <strong>3.</strong> Una vez que la instalación se haya completado, verifica que Angular CLI se haya instalado
      correctamente. <br> Ejecuta el siguiente comando: <br>
      <strong>ng --version</strong> <br> Debería mostrarte la versión de Angular CLI instalada y otra información
      relevante. <br>
      <strong>4.</strong> Ahora estás listo para crear un nuevo proyecto de Angular.
      <p></p>
      <strong>
        <h1>Como crear un nuevo componente en Angular</h1>
      </strong>
      <strong>1.</strong> Para crear un componente nuevo usando el Angular CLI, ejecuta el siguiente comando en la raíz
      de tu proyecto: <br>
      <strong>generate component nombre-del-componente</strong> <br>
      Por ejemplo, para crear un componente llamado mi-componente, ejecutarías el siguiente comando:<br>
      <strong>ng generate component mi-componente</strong> <br>
      Este comando creará los siguientes archivos: <br>

      <strong>mi-componente.component.ts:</strong> El archivo de TypeScript que contiene la clase del componente. <br>
      <strong>mi-componente.component.html:</strong> El archivo HTML que contiene la plantilla del componente.<br>
      <strong>mi-componente.component.css:</strong> El archivo CSS que contiene el estilo del componente. <br>
      <strong>
        <h1>Comandos básicos que se utilizan en Angular</h1>
      </strong> <br>

      <h5>Los comandos básicos que se utilizan en Angular son los siguientes:</h5> <br>
      <strong>ng new</strong> - Crea un nuevo proyecto de Angular.<br>
      <strong>ng serve</strong> - Inicia el servidor de desarrollo y sirve la aplicación.<br>
      <strong>ng build</strong> - Compila la aplicación para producción.<br>
      <strong>ng test</strong> - Ejecuta las pruebas unitarias de la aplicación.<br>
      <strong>ng e2e</strong> - Ejecuta las pruebas de extremo a extremo de la aplicación.<br>
      <strong>
        <h1>¿Que es Angular?</h1>
      </strong> <br>

      Angular es un framework de aplicaciones web de código abierto desarrollado por Google. Está escrito en TypeScript
      y permite crear aplicaciones web de una sola página (SPA)<br>
      que son rápidas, escalables y fáciles de mantener.Utiliza una arquitectura basada en componentes para organizar el
      código de la aplicación. Los componentes son <br>
      bloques de construcción reutilizables que pueden usarse para crear diferentes partes de la aplicación.Es una buena
      opción para aplicaciones web que requieren una buena<br>
      experiencia de usuario, escalabilidad y facilidad de mantenimiento.
    </div>
  </div>
</body>

</html>