<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <strong><h1>Terminal de uso de comandos de Sistemas Operativos</h1></strong> <br>
    En este caso en particular brindaremos informacion sobre el el S.O Windows
    <p></p>
    <h4>WINDOWS</h4> <br>
    El terminal de comandos principal en Windows se llama "Command Prompt" o "Símbolo del sistema". <br> Puedes abrirlo buscando "cmd" en el menú Inicio.
    También existe PowerShell, que es una interfaz de línea de comandos más avanzada y potente que el Command Prompt, <br> puedes abrirlo buscando "PowerShell" en el menú Inicio. <p></p>
    En un terminal de comandos, puedes ejecutar comandos para realizar diversas tareas, como administrar archivos y directorios, instalar software, configurar el sistema, entre otros.<br> Los comandos suelen ser instrucciones de texto que se ingresan seguidos de la tecla "Enter" para ser ejecutados.<p></p><strong>Algunos comandos comunes incluyen "ls" (para listar archivos y directorios), "cd" (para cambiar de directorio), "mkdir" (para crear directorios), "rm" (para eliminar archivos),<br> "apt" o "yum" (para administrar paquetes en sistemas basados en Debian o Red Hat, respectivamente), entre otros.</strong><p></p>
    Es importante tener cuidado al usar un terminal, ya que los comandos pueden afectar el sistema y los datos. Es recomendable tener al menos un conocimiento básico de los<br> comandos que estás ejecutando y cómo funcionan. Además, algunos sistemas operativos permiten el acceso de superusuario (root) a través del terminal, lo que otorga un control<br> completo sobre el sistema, pero debe utilizarse con precaución.
</body>
</html>
